<%= form_for @search do |f| %>
	  <div class='field'>
	 	<%= f.label :street %>  	
	  	<%= f.text_field :street %>
		
	 	<%= f.label :postal %>  	
	  	<%= f.text_field :postal %>

		
	  </div>

	<% end %>