<%= form_for @search do |f| %>
	  <div class='field'>
	  	<%= f.label :name %>  	
	  	<%= f.text_field :name %>
  		<div class="controls">
			<%= collection_select :province, :province_id, Province.order(:name), :id, :name, include_blank: true %>
		</div>
		<div class="controls">
			<%= grouped_collection_select :city, :city_id, Province.order(:name), :cities, :name,  :id, :name, include_blank: true %>	
		</div>
		
  		<%= f.submit "Search", :name => 'search_button', class:'btn' %>
  		<%= link_to  "All", landlords_path, class:'btn' %>  	
	  	

	  </div>

<% end %>