<div class="ctr half">

	<%= bootstrap_form_for @search do |f| %>
	<div class="">
		<div >
			<%= f.text_field :name , placeholder: "Example" %>
			<%= f.text_field :streetnum, placeholder: "123" %>
			<%= f.text_field :street, placeholder: "Fake St." %>
		</div>

		<div >
			<%= f.text_field :postal, placeholder: 'A1B 2C3' %>

			<div >
				<%= f.collection_select :province_id, Province.order(:name), :id, :name, include_blank: true %>
			</div>
			<div>
				<%= f.grouped_collection_select :city_id, Province.order(:name), :cities, :name,  :id, :name, include_blank: true %>	
			</div>
		</div>
	</div>
	<div class="center">
		<%= f.submit "Search Landlord", name: 'landlord', class:'btn btn-success' %>
		<%= f.submit "Search Address", name: 'address',class:'btn btn-info' %>
		<%= f.submit "City Map", name: 'map_button', class:'btn btn-danger' %>
	</div>	


	<% end %>
</div>	