<div class = "comment-section" >
		<h3>Leave a comment</h3>
		<span>Total comments : <%= @landlord.comments.count %> </span> 
		
		<%= form_for @landlord, url: {action: :create_comment, :id => @landlord.id } do |f| %>
			<%= f.fields_for @comment do |comment_form| %>
				<%= comment_form.text_area :comment, :columns => "40",:rows => "10", 
					class:'frm-exp' , placeholder: "Comments must be between 15 and 500 characters!" %>
				<% params[:id] =  @landlord.id  %>
			<% end %>
			<div>
				<%= f.submit "Submit", class:"btn btn-primary" %>
			</div>	
		<% end %>	
		<% if @landlord.comments.any? %>
			<%= render partial: 'shared/landlord_comments' %>
		<% else %>
			<%= content_tag :strong, "No comments" , class:'comment-text ' %> 			
		<% end %>
	</div>