<h1>Submit a Landlord</h1>




<%= form_for @landlord, {:html => { :class => "form-horizontal" }} do |f| %>

<%= render 'shared/error_messages' %>


<div class ="control-group">
	<%= f.label "Landlord's Name : " , class:'control-label '%>
	<div class="controls">
		<%= f.text_field :name , class:'frm-exp' %>
	</div>
</div>
<div class ="control-group">
	<%= f.label "Landlord's city : " , class:'control-label '%>
	<div class="controls">
		<%= f.text_field :city , class:'frm-exp' %>
	</div>
</div>
<div class ="control-group">
	<%= f.label "Landlord's province : " , class:'control-label '%>
	<div class="controls">
		<%= f.text_field :province , class:'frm-exp' %>
	</div>
</div>
<div class="control-group">

	<%= f.label "Comment : ", class: "tos" ,class:'control-label' %>
	<div class ="controls" >
		<%= f.fields_for :comments do |comment_form| %>
		<%= comment_form.text_area :comment, :columns => "40",:rows => "10", class:'frm-exp'%>
		<%= f.label "Terms of Service", class: "tos underline" %>

		<div class="terms ">
			<p class= "terms-closed " >"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deseruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deseruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deseruLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deseru </p>


			<div class='tos-wrapper '>		
				<%= f.label "Agree to our terms of sevice", class:'tos-check'%> 
				<%= comment_form.check_box :terms %>

			</div>
			<% end %>
		</div>
	</div>


</div>
	<div class="center submit">
		<%= f.submit "Submit", class: " btn btn-large btn-primary" %>
	</div>
	<% end %>


