<%= render '/shared/error_messages' %>
<div >
	<div class= "show-left">	
		
			<h1 > <%= @landlord.name %> </h1>
			<h3> <%= @landlord.city.name %>  ,</h3>
			<h3> <%=	@landlord.province.name %> </h3>
			<span>Total comments : <%= @landlord.comments.count %> </span> 
			
		
			<%= form_for @landlord do |f| %>
				<%= f.fields_for @comment do |comment_form| %>
				<%= comment_form.text_area :comment, :columns => "40",:rows => "10", class:'frm-exp'%>
				
				<% end %>
				<div>
					<%= f.submit "Submit", class:"btn btn-primary" %>
				</div>	
			<% end %>
			
	</div>
	<div class = "comment-section" >
		<% if @landlord.comments.any? %>
			<% @landlord.comments.each do |f| %>
				<% if f.valid? %> 
					<%= content_tag :p, f.comment , class:'comment-text ' %> 			
				<% end %>
			<% end %>
		<% else %>
			<%= content_tag :strong, "No comments" , class:'comment-text ' %> 			
		<% end %>
	</div> 

</div>	


