
<section>
	<div class= "sidebar">	
		<h1 class="name"> <%= @landlord.name %> </h1>
		<h3> <%= @landlord.city %>  ,</h3>
		<h3> <%=	@landlord.province %> </h3>
		<span>Total comments : <%= @landlord.comments.count %> </span> 
	</div>


	<div class = "comment-section" >
		<% if @landlord.comments.any? %>
			<% @landlord.comments.each do |f| %>
			<%= content_tag :p, f.comment , class:'comment-text ' %> 			
			<% end %>
		<% else %>
			<%= content_tag :strong, "No comments" , class:'comment-text ' %> 			
		<% end %>
	</div>
</section>