<%= render '/shared/error_messages' %>
<div class="show-contents">
	<div class = "comment-section" >
		<% if @landlord.comments.any? %>
			<% @landlord.comments.each do |f| %>
				<% if f.valid? %> 
					<%= content_tag :p, f.comment , class:'comment-text ' %> 			
				<% end %>
			<% end %>
		<% else %>
			<%= content_tag :strong, "No comments" , class:'comment-text ' %> 			
		<% end %>
	</div>
	<div class= "show-left">	
		
			<h1> <%= @landlord.name %> </h1>
			<h3> <%= @landlord.city.name %>  ,</h3>
			<h3> <%= @landlord.province.name %> </h3>
			<% if @landlord.addresses.any? %>
				<%  @landlord.addresses.each do |f| %>
					<%= content_tag	:p, "#{f.number} #{f.street}  Apt/Unit: #{f.unit}"  %>
					<% if signed_in? %>
        				<td><%= link_to 'Delete', root_url %></td><br>
      				<% end %>
				<% end %>
			<% end %>
			<span>Total comments : <%= @landlord.comments.count %> </span> 
			
		
			<%= form_for @landlord, url: {action: :create_comment, :id => @landlord.id } do |f| %>
				<%= f.fields_for @comment do |comment_form| %>
					<%= comment_form.text_area :comment, :columns => "40",:rows => "10", 
					class:'frm-exp' , placeholder: "Comments must be between 15 and 500 characters!" %>
					<% params[:id] =  @landlord.id  %>
				<% end %>
				<div>
					<%= f.submit "Submit", class:"btn btn-primary" %>
				</div>	
			<% end %>	

			<p> Don't see the address? Add click here to add one </p>

			<!-- Address form - extract in future -->

			<div>
				<%= form_for(:address, url: addresses_path) do  |address_form| %>
					
					<%= address_form.label :number %>
					<%= address_form.text_field :number %>
					<%= address_form.label :street %>
					<%= address_form.text_field :street %>
					<%= address_form.label "#{:unit}# / Apt #" %>
					<%= address_form.text_field :unit %>
					<%= address_form.label :postal %>
					<%= address_form.text_field :postal %><br/>
					<%=	address_form.submit "Save Address",  class:"btn btn-primary" %>

				<% end %>
			</div>


	</div>
</div>	


