<%= render '/shared/error_messages' %>
<%= include_gon %>
<div class="show-contents">
	<%= render 'comment_section' %>


	<div class= "show-left">	
		
		<h1> <%= @landlord.name %> </h1>
		<h3> <%= @landlord.city.name %>, <%= @landlord.province.name %> </h3>
		<%= render 'address_list' %>

		<div id="map_canvas" ></div>

		<p> Don't see the address? <a href="#" id="address-form-toggle">Add click here to add one</a> </p>
 
        <!-- Address form - extract in future -->
 
        <%= render 'address_form' %>
	</div>
</div>	


