<%= render '/shared/error_messages' %>
<%= include_gon %>
<div class="show-contents">
	
	<div >	
		<h1> <%= @landlord.name %> </h1>
		
		<div id="map_canvas" ></div>
		
		<div class="show-left">
			<h3> <%= @landlord.city.name %>, <%= @landlord.province.name %> </h3>
			<%= render 'address_list' %>
		</div>
		<div >
			<%= render 'comment_section' %>
		</div>
		
        <%= render 'address_form' %>
	</div>
</div>	


