<%= render '/shared/error_messages' %>
<div class="show-contents">
	<div class = "comment-section" >
		<% if @landlord.comments.any? %>
			<% @landlord.comments.each do |f| %>
				<% if f.valid? %> 
					<%= content_tag :p, f.comment , class:'comment-text ' %> 			
				<% end %>
			<% end %>
		<% else %>
			<%= content_tag :strong, "No comments" , class:'comment-text ' %> 			
		<% end %>
	</div>
	<div class= "show-left">	
		
			<h1> <%= @landlord.name %> </h1>
			<h3> <%= @landlord.city.name %>  ,</h3>
			<h3> <%= @landlord.province.name %> </h3>
			<% if @landlord.addresses.any? %>
				<%  @landlord.addresses.each do |f| %>
					<%= content_tag	:p, "#{f.number} #{f.street}  Apt/Unit: #{f.unit}"  %>
				<% end %>

			<% end %>
			<span>Total comments : <%= @landlord.comments.count %> </span> 
			
		
			<%= form_for @landlord, url: {action: :create_comment, :id => @landlord.id } do |f| %>
				<%= f.fields_for @comment do |comment_form| %>
					<%= comment_form.text_area :comment, :columns => "40",:rows => "10", 
					class:'frm-exp' , placeholder: "Comments must be between 15 and 500 characters!" %>
					<% params[:id] =  @landlord.id  %>
				<% end %>
				<div>
					<%= f.submit "Submit", class:"btn btn-primary" %>
				</div>	
			<% end %>	

	</div>
</div>	


