<footer class="footer">
  <small>
    <a href=""> Lousy Land Lord </a>
    by <%= link_to "Devon Ring", "http://devonring.ca" %> and <%= link_to "Frederic Marchand", "http://fredericmarchand.net" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <li><%= link_to "Terms of Service", '/tos' %></li>      
    </ul>
  </nav>
</footer>